################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CDMS.Service/bin
/CDMS.Service/obj
/.vs
/CDMS.Data/bin
/CDMS.Data/obj
/CDMS.Entity/bin
/CDMS.Entity/obj
/CDMS.Utility/bin
/CDMS.Utility/obj
/CDMS.Web/bin
/CDMS.Web/Log
/CDMS.Web/obj
/CDMS.Web/UploadFiles/ArticleImages/
/CDMS.Web/UploadFiles/UserFace/
/CDMS.Web/UploadFiles/UserFace/
