@{
    ViewBag.Title = "菜单";
}
<form class="layui-form" id="form1">
    <div class="layui-form-item">
        <label class="layui-form-label">名称<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="NAME" autocomplete="off" placeholder="请输入角色名称" class="layui-input" lay-verify="required" />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">父名称<span class="red">*</span></label>
            <div class="layui-input-inline">
                <select type="text" id="PARENTID" name="PARENTID" lay-filter="PARENTID" autocomplete="off" placeholder="请选择类型" class="layui-select"></select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">类型<span class="red">*</span></label>
            <div class="layui-input-inline">
                <select type="text" id="TYPE" name="TYPE" autocomplete="off" placeholder="请选择类型" class="layui-select">
                    <option value="1">目录</option>
                    <option value="2">菜单</option>
                    <option value="3">按钮</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">URL</label>
        <div class="layui-input-block">
            <input type="text" name="URL" autocomplete="off" placeholder="请输入URL" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" name="TITLE" autocomplete="off" placeholder="请输入标题" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">代码</label>
            <div class="layui-input-inline">
                <input type="text" name="CODE" autocomplete="off" placeholder="请输入代码" class="layui-input" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">样式</label>
            <div class="layui-input-inline">
                <input type="text" name="CLASSNAME" autocomplete="off" placeholder="请输入样式" class="layui-input" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">ICON</label>
            <div class="layui-input-inline">
                <div>
                    <i class="layui-icon" id="i-icon" style="font-size:28px; margin-right:50px;"></i>
                    <a class="layui-btn layui-btn-mini" id="btn-icon">选择</a>
                </div>
                <input type="text" id="IMG" name="IMG" autocomplete="off" class="layui-input hidden" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="SORTID" autocomplete="off" value="100" placeholder="请输入排序" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea type="text" name="REMARK" autocomplete="off" placeholder="请输入角色描述" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="save">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="cancel">取消</button>
            <input type="hidden" name="ID" value="0" />
        </div>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
        layui.use(['form', 'utils', 'treeSelector'], function () {
            var $ = layui.jquery, form = layui.form, utils = layui.utils, tree = layui.treeSelector;

            form.on('submit(save)', function (data) {
                data.field['IMG'] = encodeURIComponent(data.field['IMG']);
                utils.post('/sys/menu/save', data.field);
                return false;
            });

            $('#cancel').on('click', function () {
                utils.closeFrame();
            });

            $('#btn-icon').click(function () {
                var index = utils.open({
                    title: '选择ICON',
                    url: '/sys/menu/icon',
                    area: ['650px', '650px'],
                    btn: ['确认', '关闭'],
                    yes: function (index) {
                        var icon = utils.getChildFrame('#txtIcon', index);
                        var value = $.trim(icon.val());
                        if (value == '') {
                            utils.alert('请选择ICON');
                            return;
                        }
                        $('#i-icon').html(value);
                        $('#IMG').val(value);
                        utils.close(index);
                    }
                });
            });
            
            var treeOption = {
                type: 'remote',
                url: '/sys/menu/getTreeSelectList',
                selector: '#PARENTID',
                repeatString: '&nbsp;&nbsp;',//
                preString: '',
                callback: function () {
                    var json = '@Html.Raw(ViewBag.Json)';
                    if (json && json.length > 0) {
                        utils.setFormData(json);
                        var value = $('#IMG').val();
                        $('#i-icon').html(value);
                    }
                    form.render('select');
                }
            };
            tree.set(treeOption).render();
        });
    </script>
}