@{
    ViewBag.Title = "Icon";
}

<div>
    <div class="site-title">
        <a name="table">内置图标一览表(119个)</a>
    </div>
    <ul class="site-doc-icon">
        <li>
            <i class="layui-icon" data-value="&amp;#xe68e;">&#xe68e;</i>
            <div class="name">主页</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe6c6;">&#xe6c6;</i>
            <div class="name">赞</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe6c5;">&#xe6c5;</i>
            <div class="name">踩</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe662;">&#xe662;</i>
            <div class="name">男</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe661;">&#xe661;</i>
            <div class="name">女</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe660;">&#xe660;</i>
            <div class="name">相机-空心</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe65d;">&#xe65d;</i>
            <div class="name">相机-实心</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe65f;">&#xe65f;</i>
            <div class="name">菜单-水平</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe671;">&#xe671;</i>
            <div class="name">菜单-竖直</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe65c;">&#xe65c;</i>
            <div class="name">返回</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe756;">&#xe756;</i>
            <div class="name">Hot</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe735;">&#xe735;</i>
            <div class="name">等级</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe65e;">&#xe65e;</i>
            <div class="name">金额-人民币</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe659;">&#xe659;</i>
            <div class="name">金额-美元</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe715;">&#xe715;</i>
            <div class="name">位置</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe705;">&#xe705;</i>
            <div class="name">文档</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe6b2;">&#xe6b2;</i>
            <div class="name">检验</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe6af;">&#xe6af;</i>
            <div class="name">笑脸</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe69c;">&#xe69c;</i>
            <div class="name">哭脸</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe698;">&#xe698;</i>
            <div class="name">购物车1</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe657;">&#xe657;</i>
            <div class="name">购物车2</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe658;">&#xe658;</i>
            <div class="name">星级</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe65a;">&#xe65a;</i>
            <div class="name">上一页</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe65b;">&#xe65b;</i>
            <div class="name">下一页</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe681;">&#xe681;</i>
            <div class="name">上传-空心</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe67c;">&#xe67c;</i>
            <div class="name">上传-实心</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe7a0;">&#xe7a0;</i>
            <div class="name">文件夹</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe857;">&#xe857;</i>
            <div class="name">应用</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe652;">&#xe652;</i>
            <div class="name">播放</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe651;">&#xe651;</i>
            <div class="name">播放暂停</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe6fc;">&#xe6fc;</i>
            <div class="name">音乐</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe6ed;">&#xe6ed;</i>
            <div class="name">视频</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe688;">&#xe688;</i>
            <div class="name">语音</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe645;">&#xe645;</i>
            <div class="name">喇叭</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe611;">&#xe611;</i>
            <div class="name">对话</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe614;">&#xe614;</i>
            <div class="name">设置</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe60f;">&#xe60f;</i>
            <div class="name">隐身-im</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe615;">&#xe615;</i>
            <div class="name">搜索</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe641;">&#xe641;</i>
            <div class="name">分享</div>
        </li>

        <li>
            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop" data-value="&amp;#x1002;">&#x1002;</i>
            <div class="name">刷新</div>
        </li>

        <li>
            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop" data-value="&amp;#xe63d;">&#xe63d;</i>
            <div class="name">loading</div>
        </li>

        <li>
            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop" data-value="&amp;#xe63e;">&#xe63e;</i>
            <div class="name">loading</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe620;">&#xe620;</i>
            <div class="name">设置</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe628;">&#xe628;</i>
            <div class="name">引擎</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#x1006;">&#x1006;</i>
            <div class="name">阅卷错号</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#x1007;">&#x1007;</i>
            <div class="name">错-</div>


        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe629">&#xe629;</i>
            <div class="name">报表</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe600;">&#xe600;</i>
            <div class="name">star</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe617;">&#xe617;</i>
            <div class="name">圆点</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe606;">&#xe606;</i>
            <div class="name">客服</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe609;">&#xe609;</i>
            <div class="name">发布</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe60a;">&#xe60a;</i>
            <div class="name">列表</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe62c;">&#xe62c;</i>
            <div class="name">图表</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#x1005;">&#x1005;</i>
            <div class="name">正确</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe61b;">&#xe61b;</i>
            <div class="name">换肤2</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe610;">&#xe610;</i>
            <div class="name">在线</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe602;">&#xe602;</i>
            <div class="name">右右</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe603;">&#xe603;</i>
            <div class="name">左左</div>
        </li>

        <li>
            <i class="layui-icon" data-value="&amp;#xe62d;">&#xe62d;</i>
            <div class="name">表格</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe62e;">&#xe62e;</i>
            <div class="name">icon_树</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe62f;">&#xe62f;</i>
            <div class="name">上传</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe61f;">&#xe61f;</i>
            <div class="name">添加</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe601;">&#xe601;</i>
            <div class="name">下载</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe630;">&#xe630;</i>
            <div class="name">选择模版</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe631;">&#xe631;</i>
            <div class="name">工具</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe654;">&#xe654;</i>
            <div class="name">添加</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe642;">&#xe642;</i>
            <div class="name">编辑</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe640;">&#xe640;</i>
            <div class="name">删除</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe61a;">&#xe61a;</i>
            <div class="name">向下</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe621;">&#xe621;</i>
            <div class="name">文件</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe632;">&#xe632;</i>
            <div class="name">布局</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe618;">&#xe618;</i>
            <div class="name">对勾</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe608;">&#xe608;</i>
            <div class="name">添加</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe633;">&#xe633;</i>
            <div class="name">么么直播-翻页</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe61c;">&#xe61c;</i>
            <div class="name">404</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe634;">&#xe634;</i>
            <div class="name">轮播组图</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe607;">&#xe607;</i>
            <div class="name">help</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe635;">&#xe635;</i>
            <div class="name">代码1</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe636;">&#xe636;</i>
            <div class="name">进水</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe60b;">&#xe60b;</i>
            <div class="name">关于</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe619;">&#xe619;</i>
            <div class="name">向上</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe637;">&#xe637;</i>
            <div class="name">日期</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe61d;">&#xe61d;</i>
            <div class="name">文件</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe604;">&#xe604;</i>
            <div class="name">top</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe612;">&#xe612;</i>
            <div class="name">好友请求</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe605;">&#xe605;</i>
            <div class="name">对</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe638;">&#xe638;</i>
            <div class="name">窗口</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe60c;">&#xe60c;</i>
            <div class="name">表情</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe616;">&#xe616;</i>
            <div class="name">正确</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe613;">&#xe613;</i>
            <div class="name">我的好友</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe61e;">&#xe61e;</i>
            <div class="name">文件下载</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe60d;">&#xe60d;</i>
            <div class="name">图片</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe64c;">&#xe64c;</i>
            <div class="name">链接</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe60e;">&#xe60e;</i>
            <div class="name">记录</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe622;">&#xe622;</i>
            <div class="name">文件夹</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe64f;">&#xe64f;</i>
            <div class="name">font-strikethrough</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe64d;">&#xe64d;</i>
            <div class="name">unlink</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe639;">&#xe639;</i>
            <div class="name">编辑_文字</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe623;">&#xe623;</i>
            <div class="name">三角</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe63f;">&#xe63f;</i>
            <div class="name">单选框-候选</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe643;">&#xe643;</i>
            <div class="name">单选框-选中</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe647;">&#xe647;</i>
            <div class="name">居中对齐</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe648;">&#xe648;</i>
            <div class="name">右对齐</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe649;">&#xe649;</i>
            <div class="name">左对齐</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe626;">&#xe626;</i>
            <div class="name">勾选框(未打勾)</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe627;">&#xe627;</i>
            <div class="name">勾选框(打勾)</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe62b;">&#xe62b;</i>
            <div class="name">加粗</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe63a;">&#xe63a;</i>
            <div class="name">聊天对话</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe624;">&#xe624;</i>
            <div class="name">文件夹_反</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe63b;">&#xe63b;</i>
            <div class="name">手机</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe650;">&#xe650;</i>
            <div class="name">表情</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe64b;">&#xe64b;</i>
            <div class="name">html</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe63c;">&#xe63c;</i>
            <div class="name">表单</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe62a;">&#xe62a;</i>
            <div class="name">tab</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe64e;">&#xe64e;</i>
            <div class="name">emw_代码</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe646;">&#xe646;</i>
            <div class="name">字体-下划线</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe625;">&#xe625;</i>
            <div class="name">三角</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe64a;">&#xe64a;</i>
            <div class="name">图片</div>
        </li>
        <li>
            <i class="layui-icon" data-value="&amp;#xe644;">&#xe644;</i>
            <div class="name">斜体</div>
        </li>
    </ul>
    <input type="hidden" id="txtIcon" value=""/>
</div>

@section styles{
    <style type="text/css">
        .site-title {
            text-align: center;
            font-size: 15px;
            /*padding-bottom: 10px;*/
        }

        .site-doc-icon {
            margin: 20px auto;
            font-size: 0;
            width: 610px;
        }

        .site-doc-icon li {
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            line-height: 25px;
            padding: 20px 0;
            margin-right: -1px;
            margin-bottom: -1px;
            border: 1px solid #e2e2e2;
            font-size: 12px;
            text-align: center;
            color: #666;
            transition: all .3s;
            -webkit-transition: all .3s;
            cursor: pointer;
        }

        .site-doc-icon li .layui-icon {
            display: inline-block;
            font-size: 36px;
        }

        .site-doc-icon li .fontclass {
            display: none;
        }

        .site-doc-icon li .name {
            color: #c2c2c2;
        }

        /*.site-doc-icon li:hover {
            background-color: #f2f2f2;
            color: #000;
        }*/

        .icon-selected {
            background-color: coral;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">
        var cn='icon-selected';
        layui.use('utils', function () {
            var $ = layui.jquery;

            $('.site-doc-icon li').click(function () {
                var li = $(this);
                var flag = li.hasClass(cn);
                var icon = '';
                if (flag) {
                    li.removeClass(cn);
                }
                else {
                    li.siblings().removeClass(cn);
                    li.addClass(cn);
                    icon = li.find('i').data('value');
                }
                $('#txtIcon').val(icon);
            });
        });
    </script>
}
