@{
    ViewBag.Title = "Index";
}

<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" value="" id="txtKey" placeholder="请输入关键字" class="layui-input" />
        </div>
        <a class="layui-btn search_btn" id="btn-query">查询</a>
    </div>
    @Html.Action("button", "menu")
</blockquote>
<div class="layui-form">
    <table class="layui-table" id="buttonList"></table>
</div>

@section scripts{
    <script type="text/javascript">
        layui.use(['jquery', 'table', 'utils'], function () {
            var $ = layui.jquery, table = layui.table, utils = layui.utils;

            var tableId = 'buttonList';
            var options = {
                id: tableId,
                elem: '#' + tableId,
                url: '/sys/button/getList',
                method: 'post',
                tr_click_checkable: true,
                page: true,
                limit: 10,
                limits: [10, 20, 30],
                where: getParameters(),
                cols: [
                     [{ checkbox: true, width: '5%' },
                     { field: 'NAME', title: '按钮名称', width: '20%' },
                     {
                         field: 'IMG', title: 'ICON', width: '10%', align: 'center',
                         content: function (value, item, index) {
                             if (value) return '<i class="layui-icon">' + value + '</i>';
                             return '';
                         }
                     },
                     { field: 'CLASSNAME', title: '样式', width: '15%' },
                     { field: 'REMARK', title: '按钮描述', width: '20%' },
                     { field: 'SORTID', title: '排序', width: '10%', align: 'center' }
                     ]
                ]
            };
            table.render(options);

            $('#btn-query').click(function () {
                table.reload(tableId, { where: getParameters() });
            });

            $('#btn-add').click(function () {
                var index = utils.open({
                    title: '添加按钮',
                    url: '/sys/button/form',
                    area: ['600px', '480px']
                });
            });

            $('#btn-edit').click(function () {
                var rows = table.checkStatus(tableId).data;
                var len = rows.length;
                if (len < 1) {
                    utils.alert('没有选择任何行');
                    return;
                }
                else if (len > 1) {
                    utils.alert('只能选择一行修改');
                    return;
                }
                var index = utils.open({
                    title: '修改按钮',
                    url: '/sys/button/form?id=' + rows[0].ID,
                    area: ['600px', '480px']
                });
            });

            $('#btn-delete').click(function () {
                var rows = table.checkStatus(tableId).data;
                var len = rows.length;
                if (len < 1) {
                    utils.alert('没有选择任何行');
                    return;
                }
                utils.confirm('确实要删除选择行吗?', function () {
                    var ids = [];
                    $.each(rows, function (i, item) {
                        ids.push(item.ID);
                    });
                    utils.post('/sys/button/delete', { ids: ids });
                });
            });

            function getParameters() {
                return { json: $('#txtKey').val() };
            }
        });
    </script>
}